<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sample3app.mappers.BrandMapper">
  <select id="selectAll" resultType="com.example.sample3app.beans.Brand">
    SELECT
        brand_id
        , brand_name 
    FROM
        m_brand 
    ORDER BY
        brand_id
  </select>

</mapper>